# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
.venv/
env/
ENV/

# Flask
instance/
.webassets-cache

# Environment variables
.env

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log
.venv